!!!
%html.iot
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0, minimum-scale=1.0 maximum-scale=1.0", :name => "viewport"}/
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}/
    %meta{:content => "Compressables", :name => "apple-mobile-web-app-title"}/
    %link{rel: "apple-touch-icon", href:"/apple-touch-icon.png"}
    %title Compressables

    %link{:href => "splashscreens/iphone5_splash.png", :media => "(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    %link{:href => "splashscreens/iphone6_splash.png", :media => "(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    %link{:href => "splashscreens/iphoneplus_splash.png", :media => "(device-width: 621px) and (device-height: 1104px) and (-webkit-device-pixel-ratio: 3)", :rel => "apple-touch-startup-image"}/
    %link{:href => "splashscreens/iphonex_splash.png", :media => "(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)", :rel => "apple-touch-startup-image"}/
    %link{:href => "splashscreens/iphonexr_splash.png", :media => "(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    %link{:href => "splashscreens/iphonexsmax_splash.png", :media => "(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3)", :rel => "apple-touch-startup-image"}/
    %link{:href => "splashscreens/ipad_splash.png", :media => "(device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    %link{:href => "splashscreens/ipadpro1_splash.png", :media => "(device-width: 834px) and (device-height: 1112px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    %link{:href => "splashscreens/ipadpro3_splash.png", :media => "(device-width: 834px) and (device-height: 1194px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    %link{:href => "splashscreens/ipadpro2_splash.png", :media => "(device-width: 1024px) and (device-height: 1366px) and (-webkit-device-pixel-ratio: 2)", :rel => "apple-touch-startup-image"}/
    %title Compressables
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag    params[:controller], media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = javascript_include_tag params[:controller], 'data-turbolinks-track' => true
    = csrf_meta_tags
    
  %body.iot
    .ui.attached.top.inverted.segment.socket-state#control-panel
      .ui.header.inverted.page-header.uppercase
        Compressables
        / .sub.header#url
    = yield
